@media (min-width: 576px) {

}

@media (min-width: 992px) { 


}

@media(max-width: 768px) {
    .about-container{
        width: 90%;
        height: 500px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
    }

    .title {
        font-size: 3rem;
    }

    .profile-image{
        order: 1;
    }

    .about-text{
        order: 2;
        width: 80%;
    }
}

