.projects-section {
    width: 100%;
    height: 100%;
    background-color: #279AF1;
    
}

    .container {
        margin: auto;
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 20px;
        justify-content: center;
        padding: 20px;
    }

    .polaroid {
        background: #001233;
        padding: 15px 15px 20px;
        box-shadow: 0 0 1em #001233;
        border-radius: 10px;
    }

    .caption {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 250px;
    }

    .photo {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border: 2px solid white;
    }

    .tecnology {
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }

    .tecnology span {
        padding: 5px;
        border: 1px solid white;
        font-size: 0.9rem;
        margin: 0 5px;
        border-radius: 5px;
        font-family: "Roboto";
    }

    .project-icons {
        text-align: right;
        
    }
    
.year {
    color: #279AF1;
}
    