.about-text p {
    margin-top: 20px; 
}

.title, .title-variation{
    width: 90%;
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;
    color: #fff;
    text-shadow: 0px 4px 4px #001233;
}

.title-variation{
    text-align: left;
}

.main-title {
    font-weight: 500;
    font-size: 2.5rem;
}

.main-container p {
    font-size: 1.5rem;
    font-weight: 500;
}

.name {
    color: yellow;
}

h2, h3, ul, li, .caption p, .about-text p {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}
.about-text {
    width: 50%;
}

